.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: rgb(127, 103, 233);
  
    .logo-container {
      height: 50%;
      width: 60px;
      padding-left: 20px;
      padding-top: 5px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        font-weight: bold;
        color: wheat;

        cursor: pointer;

        &:hover{
          -webkit-transform: scale(1.2);
          color: white;
        }
      }
    }
  }